@charset "UTF-8";
.hnav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0; 
  background: deepskyblue;
}

.hnav a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.hnav a:hover {
  background: #3B5FE3;
}

@media all and (max-width: 800px) {
  .hnav {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .hnav {
    flex-flow: column wrap;
    padding: 0;
  }
  .hnav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .hnav li:last-of-type a {
    border-bottom: none;
  }
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.title {
  background: #D5DFE5;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .footer  { order: 3; }
}

body {
  padding: 2em; 
}
